.MuiStack-root.watermark {
    visibility: hidden !important;
  }

.MuiStack-root.watermark::before {
    content: "How about a little magic from DocGenie? Drop a PDF and type your questions, and let's conjure up some answers!";
    font-size: large;
    color: gray;
    visibility: visible !important;
    /* Other CSS styles for the pseudo-element */
}

/* "Upper Right Profile Guy" Color - Dark Mode*/
.css-1cf8j3a {
    background-color: rgb(248,0,97)!important;
}

/* Upper Right Profile Guy Color - Light Mode*/
.css-1ecxs1h{
    background-color: rgb(248,0,97) !important;
}

/* "Browse Files" - Dark Mode */
.css-1px1gl2 {
    background-color: rgb(248,0,97) !important;
}

/* Browse Files - Light Mode */
.css-c6w2dx {
    background-color: rgb(248,0,97) !important;
}

/* "Chat" Text Color - Light Mode*/
.css-1vhtqje {
    color: rgb(248,0,97) !important;
}

/* "New Chat" Color and Border - Light Mode*/
.css-1ruedog {
    color: rgb(248,0,97) !important;
    border:1px solid rgb(179, 0, 69) !important;
}

.css-18q1fsk {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter, sans-serif;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(48, 48, 48);
    width: 26px;
    height: 26px;
    font-size: 0.75rem;
    margin-top: -2px;
    background-color: rgb(245, 0, 94) !important;
    

}


.css-1798y75 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: auto;
}




